::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: SourceHanSansSC;
    src: url("../font/SourceHanSansSC-Regular.otf");
    src: url("../font/SourceHanSansSC-Regular.otf") format("truetype");
}

body {
    margin: 0;
    width: 100%;
    font-family: SourceHanSansSC;
}

.nav {
    background-color: #282828;
    height: 60px;
    width: 100%;
    margin-top: 0px;
    filter: opacity(.8);
}

.nav-list {
    width: 90%;
    height: 100%;
    line-height: 100%;
    margin-top: 0;
    float: left;
    list-style: none;
}

.nav-list-content {
    position: relative;
    top: 30%;
    height: 40%;
    line-height: 100%;
    color: white;
    float: left;
    cursor: pointer;
}

.nav-title-position {
    margin-right: 6%;
    float: right;
}

.nav-title-position-2 {
    margin-right: 6%;
    float: right;
}

.font {
    font-weight: 800;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 0px;
}

.conta{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: auto;
}




.img-position {
    text-align: center;
    margin-top: 0;
}

@-webkit-keyframes comeout {
    from {
        filter: opacity(0);
    }
    to {
        filter: opacity(1);
    }
}

@keyframes comeout {
    from {
        filter: opacity(0);
    }
    to {
        filter: opacity(1);
    }
}

@-moz-keyframes comeout {
    from {
        filter: opacity(0);
    }
    to {
        filter: opacity(1);
    }
}

@-webkit-keyframes titleposition {
    from{
        position: absolute;
        left: 0;
        top:3.3%;
    }
    to{
        position: absolute;
        left: 15%;
        top: 3.3%;
    }
}
@-moz-keyframes titleposition {
    from{
        position: absolute;
        left: 0;
        top:3.3%;
    }
    to{
        position: absolute;
        left: 15%;
        top: 3.3%;
    }
}
@keyframes titleposition {
    from{
        position: absolute;
        left: 0;
        top:3.3%;
    }
    to{
        position: absolute;
        left: 15%;
        top: 3.3%;
    }
}

@-webkit-keyframes comeoutlater {
    0% {filter:opacity(0);}
    50% {filter:opacity(0);}
    100% {filter:opacity(1);}
}

@-webkit-keyframes comeoutlater1 {
    0% {filter:opacity(0);}
    66.6% {filter:opacity(0);}
    100% {filter:opacity(1);}
}

@-webkit-keyframes comeoutlater2 {
    0% {filter:opacity(0);}
    75% {filter:opacity(0);}
    100% {filter:opacity(1);}
}

@-webkit-keyframes comeoutlater3 {
    0% {filter:opacity(0);}
    80% {filter:opacity(0);}
    100% {filter:opacity(1);}
}
#continue {
    -webkit-animation: comeout 8s;
    -moz-animation: comeout 8s;
    animation: comeout 8s;
}

#content{
    -webkit-animation: comeout 5s;
    -moz-animation: comeout 5s;
    animation: comeout 5s;
}

#hereiscontinue{
    -webkit-animation: titleposition 1s;
    -moz-animation: titleposition 1s;
    animation: titleposition 1s;
}

#prize{
    -webkit-animation: comeoutlater 2s;
    -moz-animation: comeoutlater 2s;
    animation: comeoutlater 2s;
}

#things{
    -webkit-animation: comeoutlater1 3s;
    -moz-animation: comeoutlater1 3s;
    animation: comeoutlater1 3s;
}

#prepose{
    -webkit-animation: comeoutlater2 4s;
    -moz-animation: comeoutlater2 4s;
    animation: comeoutlater2 4s;
}

#daily{
    -webkit-animation: comeoutlater3 5s;
    -moz-animation: comeoutlater3 5s;
    animation: comeoutlater3 5s;
}

.container-con {
    width: 70%;
    margin: 0 auto
}

.hei{
    height: 2900px!important;
}

.newpage-content {
    margin-top: 0;
    color: white;
}
.center{
    text-align: center;
}

#download{
    color: white;
}

.newpage-titleposition{
    padding-top: 10%;
}

.large{
    font-size: x-large;
}

.white{
    color:white;
}